/**, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}*/

#headerBar {
  height: 1px;
  background: gray;
}

p.header {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #000080;
  line-height: 20%;
}

span {
  font-size: 30px;
  font-style: bold;
}

p.addy {
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  color: #000080;
  line-height: 0%;
}

body { margin: 0; }

.container {
  float: left;
  width: 100%;
}

.leftColumn {
  float: left;
  width 50%;
  padding: 20px 0;
  margin: -1% 0 0 7%;
  display: inline;
}

.rightColumn {
  float: right;
  width 50%;
  padding: 20px 0;
  margin: -1% 12% 0 0;
  display: inline;
}

li {
  line-height: 250%;
}

p.homepage {
  font-size: 15;
  font-weight: bold;
  text-align: center;
  color: #000080;
  line-height: 20%;
}

h3 {
  color: #000080;
  font-weight: bold;
}

h5 {
  color: #000080;
}

a {
  color: #800080;
}

a:visited {
  color: #ff0000;
}

html {
  background-color: #ffffff;
}

#secondBar {
  height: 1px;
  background: gray;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  line-height: -1%;
}

p.bottom {
  font-size: 14px;
  text-align: center;
  color: #000080;
  line-height: 0%;
}

p.website {
  font-size: 13px;
  text-align: center;
  color: #000080;
  line-height: 0%;
}

p.contact {
  font-size: 13px;
  text-align: center;
  color: #000080;
  line-height: 0%;
}

#thirdBar {
  height: 1px;
  background: gray;
}

p.smallPrint {
  font-size: 13px;
  color: #000080;
}

#footerBar {
  height: 1px;
  background: gray;
  line-height: 10%;
}

span.copyright {
  font-size: 10px;
  color: #000080;
}

#company {
  font-size: 11px;
  font-weight: bold;
  color: #000080;
}