p.header {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #000080;
  line-height: 20%;
}

span {
  font-size: 30px;
  font-style: bold;
}

p.addy {
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  color: #000080;
  line-height: 0%;
}

#wrapper {
  width: 1200;
  margin: 0 auto;
}

#left-column {
  float: left;
  width: 600px;
}

#right-column {
  float: right
  width: 600px;
}

p.homepage {
  font-size: 15;
  font-weight: bold;
  text-align: center;
  color: #000080;
  line-height: 20%;
}

h3 {
  color: #000080;
  font-weight: bold;
}

h5 {
  color: #000080;
}

a {
  color: #800080;
}

a:visited {
  color: #ff0000;
}

html {
  background-color: #ffffff;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  line-height: 0%;
}

p.bottom {
  font-size: 14px;
  text-align: center;
  color: #000080;
  line-height: 0%;
}

p.website {
  font-size: 13px;
  text-align: center;
  color: #000080;
  line-height: 0%;
}

p.contact {
  font-size: 13px;
  text-align: center;
  color: #000080;
  line-height: 0%;
}

p.disclaimer {
  font-size: 13px;
  color: #000080;
}

span.copyright {
  font-size: 10px;
  color: #000080;
}

span.company {
  font-size: 11px;
  font-weight: bold;
  color: #000080;
}