#header {
  font-style: bold;
  text-align: center;
}

span {
  font-size: 38px;
}

.addy {
  text-align: center;
  line-height: -20%;
  color: #000080;
}

h3 {
  color: #000080;
  font-weight: bold;
}

h5 {
  color: #000080;
}

a {
  color: #800080;
}

a:visited {
  color: #ff0000;
}

html {
  background-color: #ffffff;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

span.bottom {
  color: #000080;
  text-align: center;
  font-size: 12px;
}

/*html {
  color: red;
}*/