html
{
	background: url(http://pichost.me/1789421/) no-repeat center center fixed;
	background-size: cover;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
}

#header
{
	text-align: center;
	color: black;
}

#headerBar
{
	background: black;
	height: 2px;
	width: 100%;
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 10px;
}

li
{
	padding-top: 5px;
}

/*p.techBlog
{
	margin-top: 20px;
	margin-left: 10em;
}

p.cultBlog
{
	margin-left: 10em;
}*/

/*<p class="techBlog"><a href="http://mangrovemonitor85.github.io/blog/t1-git-blog"/>My Technical Blog</a></p>
	<p class="cultBlog"></p>*/