body
{
	background-color: #01aebf;
}

#header
{
	text-align: center;
	color: white;
}

#headerBar
{
	background: black;
	height: 2px;
	width: 100%;
	margin-bottom: 20em;
}

p.techBlog
{
	margin-left: 10em;
}

p.cultBlog
{
	margin-left: 10em;
}