body
{
	background-image: url(green_polygon.jpg); /*no-repeat center center fixed;*/
	position: fixed;
	z-index: -1;
	background-size: 100%;
	width: 100%;
	height: 100%;
	/*background-attachment: fixed; 
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;*/
}

/*#background
{
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0px;
	top: 0px;
	z-index: -1;
}

.stretch
{
	width: 100%;
	height: 100%;
}*/

#header
{
	font-family: Arial, sans-serif;
	font-size: 25px;
	font-style: bold;
	text-align: center;
	color: black;
}

#headerBar
{
	background: black;
	height: 2px;
	width: 100%;
}

ul
{
	list-style-type: none;
	margin: 0;
}

li
{
	padding:5px;
}

#github
{
	font-family: Arial, sans-serif;
	/*width: 45px;
    height: 45px;
    background: url(hithub_button.jpg) 0 0;
	/*padding: 5px;*/
}

#twitter
{
	font-family: Arial, sans-serif;
	/*padding: 5px;*/
}

#techBlogList
{
	font-family: Arial, sans-serif;
	/*padding: 5px;*/
}

#techBlogLinks
{
	font-family: Arial, sans-serif;
	font-size: 15px;
	margin-left: 10px;
}

/*#t1
{
	font-family: Arial, sans-serif;
}*/

/*#t2
{
	font-family: Arial, sans-serif;
}*/

#cultBlogList
{
	font-family: Arial, sans-serif;
	/*padding: 5px;*/
}

#cultBlogLinks
{
	font-family: Arial, sans-serif;
	font-size: 15px;
	margin-left: 10px;
}

#footerBar
{
	margin-bottom: 90%;
	margin-left: 90%;
}