.header
{
  border: 1px solid black;
  background-color: #eee;
  text-align: center;
  width: 100%;
  height: 3em;
  font-size: 30px;
}

.nav_bar
{
  float: left;
  width: 20%;
}

.listHeader
{
  font-size: 18px;
  text-decoration: underline;
}

.blogLinks
{
  padding-left: 1.5em;
  line-height: .75em;
}

.blog_content
{
  font-family: "PT Sans","Helvetica Neue","Helvetica",Arial,sans-serif;
  float: right;
  width: 80%;
}
.codeSnippet
{
  height: 6em;
  width: 100%;
  line-height: .50em;

  background: #eee;
  font-family: Courier, monospace;
}

.codeType
{
  font-family: Courier, monospace;
  font-size:15px;
}

.indentCode
{
  margin-left: 25px;
}

#forLoop
{
  font-size:15px;
  float: left;
  height: 87.25%;
  width: 25%;
  padding: 5px;
  margin-left: 10em;
}

#eachMethod
{
  /*border: 1px solid grey;*/
  background: #eee;
  font-family: Courier, monospace;
  font-size:15px;
  float: right;
  width: 25%;
  padding: 5px;
  margin-right: 10em;
}

#mapMethod
{
  /*border: 1px solid grey;*/
  background: #eee;
  font-family: Courier, monospace;
  font-size: 15px;
  width: 50%;
  padding: 5px;
  margin-left: 20%;
}

#groupMethod
{
  /*border: 1px solid grey;*/
  background: #eee;
  font-family: Courier, monospace;
  font-size: 15px;
  width:50%;
  padding: 5px;
  margin-left: 20%;
}

#cycleMethod
{
  /*border: 1px solid grey;*/
  background: #eee;
  font-family: Courier, monospace;
  font-size: 15px;
  width: 50%;
  padding: 5px;
  margin-left: 20%;
}

.footer {
  text-align: center;
  font-style: Arial Sans-serif;
  width: 100%;
  height: 5em;
  border: 1px solid black;
  margin-top: 90%;
}

#footerText
{
  font-size: 30px;
  margin-top: 1em;
}

/*Text: Fonts
font-family: monaco, Consolas, 'Lucida Console', monospace;
font-family: Courier, monospace;
*/