li
{
	display: inline;
	padding: 7.5em;
}

h2, h3, h5
{
	text-align: center;
}

p
{
	font-family: "PT Sans", "Helvetica Neue", "Helvetica", Arial, sans-serif;
	padding: 10px;
}

a
{
	text-decoration: none;
}

#container
{
	height: 100%;
	width: 80%;
	margin: 15px auto;
	background-color: white;
}

body
{
	background-color: #3ABE82;
}